DNSTAP protocols

#### System data
OS:  Ubuntu 18.04
DSC version: 2.11.2 (compiled from source)
dnsdist version: 1.5.2 or 1.7.0 (installed from packages: https://repo.powerdns.com/)
IPs and hostname/FQDNs was masqued here.

#### Description
I'm using dnsdist to server DoH and DoT and this days I updated dnsdist from version 1.5.X to 1.7.0 (latest today) and the system start log an error:
```
Jan 19 17:15:16 hostname dsc[28200]: message repeated 57 times: [ DNSTAP: Missing critical part(s) of DNSTAP message to be able to process]
Jan 19 17:15:17 hostname dsc[28200]: DNSTAP: Missing critical part(s) of DNSTAP message to be able to process
```
And DSP not show graphs for this host after dnsdist upgrade.

I'd Returned to a intermediate version of dnsdist (1.6.1) and the error solved.

Looking for the root cause, i found on https://dnsdist.org/changelog.html, saying that in 1.7.X version was added transport type to logging output (dnstap & pdns protobuf): https://github.com/PowerDNS/pdns/issues/9103. Issue 9103 was closed by https://github.com/PowerDNS/pdns/pull/10879 and on this last the commit https://github.com/PowerDNS/pdns/pull/10879/commits/7b61b559d38ef1fbf06c991acea98d913273dc7e shows : 

```
    UDP = 1;         // DNS over UDP transport (RFC 1035 section 4.2.1)
    TCP = 2;         // DNS over TCP transport (RFC 1035 section 4.2.2)
    DOT = 3;         // DNS over TLS (RFC 7858)
    DOH = 4;         // DNS over HTTPS (RFC 8484)
    DNSCryptUDP = 5; // DNSCrypt over UDP (https://dnscrypt.info/protocol)
    DNSCryptTCP = 6; // DNSCrypt over TCP (https://dnscrypt.info/protocol)
```
Searching on dsc code i found dnswire, on dnswire dnswire/dnstap.h we have:

```
 65 enum dnstap_socket_protocol {
 66     DNSTAP_SOCKET_PROTOCOL_UNKNOWN = 0,
 67     DNSTAP_SOCKET_PROTOCOL_UDP     = 1,
 68     DNSTAP_SOCKET_PROTOCOL_TCP     = 2,
 69 };
```

I found in https://github.com/dnstap/dnstap.pb/blob/master/dnstap.proto#L60-L67 the definition of dnstap, i think.

Ok, but up to here, all teoric.

To view what's happening i'd captured some dnstap packages:

I'd used dnslookup 1.4.8 (https://github.com/ameshkov/dnslookup) to query.
```bash
$ dnslookup www.example.com https://hostname.fqdn.of.my.server/dns-query
```

#### dnsdist 1.6.1
```bash
$./dnstap -r /tmp/captura_16.dat 
dnstap: opened input file /tmp/captura_16.dat
10:43:24.481066 CQ 192.168.0.10 TCP 39b "www.example.com." IN A
10:43:31.134820 CQ 192.168.0.10 TCP 39b "www.example.com." IN A
10:43:31.584455 CQ 192.168.0.10 TCP 39b "www.example.com." IN A
10:43:32.042562 CQ 192.168.0.10 TCP 39b "www.example.com." IN A
10:43:32.486118 CQ 192.168.0.10 TCP 39b "www.example.com." IN A
```
#### dnsdist 1.7.0
```bash
$./dnstap -r /tmp/captura_17.dat 
dnstap: opened input file /tmp/captura_17.dat
10:49:12.883940 CQ 192.168.0.10 DOH 39b "www.example.com." IN A
10:49:14.162608 CQ 192.168.0.10 DOH 39b "www.example.com." IN A
10:49:14.652701 CQ 192.168.0.10 DOH 39b "www.example.com." IN A
10:49:15.101860 CQ 192.168.0.10 DOH 39b "www.example.com." IN A
10:49:15.587239 CQ 192.168.0.10 DOH 39b "www.example.com." IN A
10:49:16.036625 CQ 192.168.0.10 DOH 39b "www.example.com." IN A
```

Transport field changed from TCP to DOH.

Could dsc improve transport field, if possible?

Thanks!

Update in progress and first step done, dnswire updated DNS-OARC/dnswire#44.

@jguidini Please test using the updated pre-release dnswire at https://launchpad.net/~dns-oarc/+archive/ubuntu/dsc-pr and then this branch https://github.com/jelu/dsc/tree/new-dnstap.

I have verified that the new code works with `dnsdist` v1.7.0, the XML file contains correct statistics.

So before merging the branch I will need to make a release for `dnswire`, then update the dependencies for `dsc` and after that make a release of `dsc`.

New release will be available sometime next week.